.continue-btn {
    background-color: #0d113d;
    color: white;
    font-family: 'Courier', Courier, monospace;
    font-weight: normal;
}

.continue-btn:hover {
    background-color: #2270d6;
    color: black;
}

.delete-book-btn {
    background-color: azure;
}

.delete-book-btn:hover {
    background-color: red;
}

.instruction {
    color: gray;
    text-align: left;
}

.add-book-btn {
    background-color: #0d113d;
    color: white;
}

.add-book-btn:hover {
    background-color: #2270d6;
    color: black;
}